@{
    ViewData["Title"] = "Pesanan";
    List<Table> tables = ViewBag.tables as List<Table>;
}

<style type="text/css">
.wrapper {
    background: url('/images/a3e62485298625.5db31762dd2a6.jpg') center no-repeat;
    background-size: cover;
}
</style>

<div class="p-3 bg-white vh-100 wrapper">
    <partial name="~/Views/Shared/_Navigator.cshtml"/>
    <div class="bg-white p-3 rounded shadow-sm">
        <div class="row">
            <div class="col col-12">
                <div class="d-flex flex-wrap">
                    @foreach (Table table in tables)
                    {
                        <div class="card p-3 bg-secondary mr-3 mb-3" style="width: 11rem; cursor: pointer;">
                            <h5 class="h5 text-white text-center">@table.Name</h5>
                        </div>    
                    }
                </div>
            </div>
        </div>
    </div>
</div>