@{
    ViewData["Title"] = "Pesanan";
}

<style type="text/css">
.wrapper {
    background: url('images/a3e62485298625.5db31762dd2a6.jpg') center no-repeat;
    background-size: cover;
}
</style>

<div class="p-3 bg-white vh-100 wrapper">
    <partial name="~/Views/Shared/_Navigator.cshtml"/>
    <div class="bg-white p-3 rounded shadow-sm">
        <div class="row">
            <div class="col col-12">
                <div class="d-flex flex-wrap">
                    <div class="card p-3 bg-primary mr-3 mb-3" style="width: 11rem; cursor: pointer;">
                        <h5 class="h5 text-white text-center">Meja 1</h5>
                    </div>
                    <div class="card p-3 bg-secondary mr-3 mb-3" style="width: 11rem;">
                        <h5 class="h5 text-center">Meja 2</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>