@{
    ViewData["Title"] = "Menu";
    Boolean orderSuccess = (ViewBag.orderSuccess as String) == "true" ? true:false;
}

<style type="text/css">
.wrapper {
    background: url('/images/a3e62485298625.5db31762dd2a6.jpg') center no-repeat;
    background-size: cover;
}
</style>

<div class="p-3 bg-white vh-100 wrapper">
    <partial name="~/Views/Shared/_Navigator.cshtml"/>
    @if (orderSuccess) {
        <div class="alert alert-success" role="alert">
            Pesanan diproses!
        </div>
    }
    <div class="bg-white p-3 rounded shadow-sm">
        <div class="row">
            <div class="col col-8">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Cari makanan atau minuman">
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                    </div>
                </div>
                <div class="p-3 d-flex flex-wrap" style="max-height: 70vh; overflow-y: auto;">
                    <div class="card mr-3 mb-3" style="width: 11rem;">
                        <img class="card-img-top" src="images/mocca.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Mocca</h5>
                            <p class="p">Rp. 1000</p>
                            <div class="mb-3 input-group">
                                <input class="form-control" placeholder="Jumlah" value="1"/>
                                <button class="btn btn-outline-success">Pesan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-4">
                <div class="p-3 border rounded">
                    <div>
                        <h5 class="h5">Pesanan</h5>
                    </div>
                    <div class="mt-3 mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Jumlah</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mocca</td>
                                    <td>10</td>
                                    <td>10000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <button class="btn btn-success btn-block">Kirim Pesanan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>